.App {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
}

.navigation {
  width: 20%;
  height: 100%;
  position: fixed;
}

.main-container {
  width: 85%;
  padding: 10% 0% 0% 20%;
}

hr{
  width: 5em;
  height: 0.25em;
  border: none;
  background: #D0BC57;
  margin-left: 0;
}
